body{
    text-align: center;
    background-color: black;
}
h1{
    color: rgb(237, 228, 228);
}
.ball{
    font-size: 22px;
    font-weight: bold;
    justify-content: center;
    margin: auto;
    line-height: 100px;
    width: 100px;
    height: 100px;
    background-color:rgb(110, 61, 157);
    border-radius: 50%;
    transition: 1s;
}
.second-ball{
    font-size: 22px;
    font-weight: bold;
    justify-content: center;
    margin: 20px auto;
    line-height: 100px;
    width: 100px;
    height: 100px;
    background-color:rgb(61, 157, 93);
    border-radius: 50%;
    transition: 1s;
}